services:
  - type: web
    name: telegram-prediction-bot
    runtime: python
    plan: free
    
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    
    disk:
      name: data
      mountPath: /data
      sizeGB: 1
    
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: USER_PHONE
        sync: false
      - key: CHANNEL_USERNAME
        sync: false
      - key: PORT
        value: 10000
        
